---
import MobileNavigation from "./MobileNavigation.vue";

const navigationItems = [
{ name: 'About', url: '/about/' },
];

const socialIcons = [
  {
    name: 'Twitter',
    url: 'https://www.twitter.com/filmslop',
    icon: 'i-ph-twitter-logo-fill',
  },
  {
    name: 'Instagram',
    url: 'https://www.instagram.com/filmslop',
    icon: 'i-ph-instagram-logo-fill',
  },
  // { name: 'YouTube',
  //   url: 'https://www.youtube.com',
  //   icon: 'i-teenyicons-youtube-solid'},
  // { name: 'Patreon',
  //   url: '',
  //   icon: 'i-ph-patreon-logo-fill'
  // },
];

interface Props {
  pageTitle?: string;
}

const { pageTitle } = Astro.props;
---

<header class='border-b-4 border-black flex justify-between p-6 items-center'>
  {pageTitle && <h1 class='hidden'>{pageTitle}</h1>}
  <a href='/' title='Back to Home'>
    <p class='bungee md:text-5xl hover:scale-97 transition-all duration-150 ease-in-out'>FILMSLOP</p>
  </a>
  <nav class='hidden md:inline-block'>
    <h2 class='hidden'>Navigation</h2>
    <ul class='flex gap-8 poppins'>
      {
        navigationItems.map((item) => (
          <li>
            <a
              class='text-xl font-medium hover:text-red transition-all duration-150 ease-in-out'
              href={item.url}
              title={`Go to ${item.name}`}
            >
            <div class ="hover:scale-97">  {item.name} </div>
            </a>
          </li>
        ))
      }
      {
        socialIcons.map((item) => (
          <li>
            <a
              href={item.url}
              class='hover:text-red hover:scale-10 transition-all duration-150 ease-in-out'
              target='_blank'
              // title={`'See @ElianCodes on ${item.name}`}
            >
              <div class:list={[item.icon, "hover:scale-97", 'w-7 h-7']} />
            </a>
          </li>
        ))
      }
    </ul>
  </nav>

  <MobileNavigation items={navigationItems} socials={socialIcons} client:load />
</header>
