---
interface Props {
  title: string;
  description: string;
  ogImage?: URL;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

Astro.props.ogImage = new URL("/v1/generate/og/default.png", Astro.url);

// if (Astro.props.ogImage === undefined) {
//   Astro.props.ogImage = new URL("/v1/generate/og/default.png", Astro.url);
// }

const { title, description, ogImage } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="generator" content={Astro.generator} />

  <link rel="sitemap" href="/sitemap-index.xml" />

  <!-- <link
    rel="alternate"
    href="https://www.filmslop.com/blog.xml"
    type="application/rss+xml"
  /> -->

  <meta name="title" content={`FilmSlop | ${title}`} />
  <meta name="description" content={description} />

  <meta name="og:type" content="website" />
  <meta name="og:url" content={canonicalURL} />
  <meta name="og:title" content={title} />
  <meta name="og:description" content={description} />
  <meta name="og:image" content={ogImage} />
  <meta name="og:image:alt" content="FilmSlop social image"/>

  <meta name="twitter:card" content="summary" />
  <!-- <meta name="twitter:url" content={canonicalURL} />
  <!-- <meta name="twitter:title" content={title} /> -->
  <meta name="twitter:description" content={description} /> -->
  <!-- <meta name="twitter:image" content={ogImage} /> -->
  <!-- <meta name="twitter:image" content="https://i.imgur.com/iGvihVf.jpg" /> -->
  <!-- <meta name="twitter:image:alt" content="The FilmSlop social image" /> -->


  <link rel="canonical" href={canonicalURL} />
  <link rel="icon" type="image/svg" href="/favicon.svg" />

	<link rel="manifest" href="/manifest.json" />
	<meta name="msapplication-TileColor" content="#ffffff" />
	<meta name="msapplication-TileImage" content="/favicon.svg" />
	<meta name="theme-color" content="#ffffff" />
	<meta name="theme-color" content="#6ee7b7" />

  <title> FILMSLOP | {title}</title>

  <!-- fonts -->
  <!-- <link rel="preconnect" href="https://fonts.bunny.net">
  <link
    href="https://fonts.bunny.net/css2?family=DM+Serif+Text&family=Fredoka+One&family=Outfit:wght@400;500&family=Poppins:wght@300;400;500&family=Righteous&display=swap&family=Averia+Serif+Libre:wght@400"
    rel="stylesheet"
  />
  <link href="https://fonts.bunny.net/css?family=bungee" rel="stylesheet" /> -->

  <slot />
</head>
