---
import MobileNavigation from "./MobileNavigation.vue";

const navigationItems = [
 // { name: 'Home', url: '/' },
 { name: 'About', url: '/about/' },
 { name: 'Contact', url: '/contact/' },
  // { name: 'Blog', url: '/blog/' },
];

const socialIcons = [
  // {
  //   name: 'GitHub',
  //   url: 'https://github.com/eliancodes/brutal',
  //   icon: 'i-uil-github',
  // },
  {
    name: 'Twitter',
    url: 'https://www.twitter.com/',
    icon: 'i-teenyicons-twitter-solid',
  },
  // {
  //   name: 'Contact',
  //   url: '/contact/',
  //   icon: 'i-teenyicons-envelope-solid',
  // },
  { name: 'YouTube',
    url: 'https://www.youtube.com',
    icon: 'i-teenyicons-youtube-solid'},
  { name: 'Patreon',
    url: '',
    icon: 'i-teenyicons-patreon-solid'
  },
  // { name: 'RSS', url: '/feed.xml', icon: 'i-uil-rss' },
];

interface Props {
  pageTitle?: string;
}

const { pageTitle } = Astro.props;
---

<header class='border-b-4 border-black flex justify-between p-6 items-center'>
  {pageTitle && <h1 class='hidden'>{pageTitle}</h1>}
  <a href='/' title='Back to Home'>
    <p class='bungee md:text-5xl hover:drop-shadow-md'>FILMSLOP</p>
  </a>
  <nav class='hidden md:inline-block'>
    <h2 class='hidden'>Navigation</h2>
    <ul class='flex gap-8 poppins'>
      {
        navigationItems.map((item) => (
          <li>
            <a
              class='text-lg font-medium hover:text-green transition-all duration-150 ease-in-out'
              href={item.url}
              title={`Go to ${item.name}`}
            >
              {item.name}
            </a>
          </li>
        ))
      }
      {
        socialIcons.map((item) => (
          <li>
            <a
              href={item.url}
              class='hover:text-green hover:underline transition-all duration-150 ease-in-out'
              target='_blank'
              // title={`'See @ElianCodes on ${item.name}`}
            >
              <div class:list={[item.icon, 'w-6 h-6']} />
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
  <!-- <nav class='block md:hidden flex flex-row-reverse gap-4'>
    <h2 class='hidden'>Mobile Navigation</h2>
    <ul>
      <li><a href='/about/' class="font-medium">About</a></li>
    </ul>
  </nav> -->

  <MobileNavigation items={navigationItems} socials={socialIcons} client:load />
</header>
