---
import { Img } from "astro-imagetools/components";

interface Props {
  title: string;
  imgSrc: string;
  imgAlt: string;
  description: string;
  pubDate: string;
}

import { Card } from '@eliancodes/brutal-ui';

const { title, imgAlt, imgSrc, pubDate, description } = Astro.props;
---

<Card
  color="white"
>
  <h2 class='dm-serif text-lg md:text-3xl'>{title}</h2>  <p class="poppins text-slate-600">{pubDate}</p>
  <div class='rounded-lg border-black my-4 sm:h-80 md:h-58 xl:h-56'>
    <Img
      src={imgSrc}
      alt={imgAlt}
      width={800}
      height={400}
      class='rounded h-full w-full object-cover'
    />
  </div>
  <p class="poppins">{description}</p>
  <slot />
</Card>
